@import "variables";

input {
  float: left;
}
input[type=search] {
  -webkit-appearance: none;
  padding-left: .3rem;
  border: 1px solid $kerodon-orange;
  margin: 0;
}

input[type=search]:focus {
  outline: none;
}

input[type=submit] {
  -webkit-appearance: none;
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: $kerodon-orange;
  background-image: url("/static/images/Search-Arrow.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

