ul.tree li {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

/* tweaks to jquery.bonsai.css */
ul.tree li div.thumb {
  padding: 1px 1rem 2px 0;
}

div.expand-all i.separator {
  display: block;
}

div.expand-all a {
  cursor: pointer;
  color: #1d5cb4;
}

div.expand-all a:hover {
  color: #1d5cb4;
  text-decoration: underline;
}

div.expand-all a:before,
li.has-children > .thumb:after {
  content: "" !important;
  width: .8rem;
  height: .8rem;
  display: inline-block;
  margin-right: .3rem;
  background-position: center;
}

li.has-children.expanded > .thumb:after {
  background: url("/static/images/Search-Expanded.svg") no-repeat;
}

li.has-children > .thumb:after {
  background: url("/static/images/Search-Collapsed.svg") no-repeat;
}

div.expand-all a.all:before {
  background: url("/static/images/Search-All-Expanded.svg") no-repeat;
}

div.expand-all a.none:before {
  background: url("/static/images/Search-All-Collapsed.svg") no-repeat;
}

