$size: 15; // need to use interpolation #{$size} in calc() etc.

// the main colors
$kerodon-beige:     #F4F0EA;
$kerodon-blue:      #0089BC;
$kerodon-gray:      #AAAAAA;
$kerodon-lightgray: #D3CBBD;
$kerodon-green:     #4CAF50;
$kerodon-orange:    #FAA70B;
$kerodon-red:       #ED2227;
