@import "variables";

dl.entry {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: visible;
}

dl.entry dt {
  flex: 0 0 20%;
  text-overflow: ellipsis;
  overflow: hidden;
}

dl.entry dd {
  flex: 0 0 80%;
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

ul#letters {
  li {
    border: 1px solid black;
  }

  li.page-item a {
    background-color: white;
  }

  li.page-item a:hover {
    background-color: $kerodon-orange;
  }
}

div#hamburger-letters {
  margin: 1rem;
}

