div#logo {
  z-index: 1;
  background-color: white;
  margin-top: 2rem;
  background-image: url("/static/images/kerodon-square.png");
  background-repeat: no-repeat;
  background-size: calc(220rem / 15);
  background-position: center top;
  height: 20rem;
  text-align: center;
}

div#logo h1 {
  padding-top: 15rem;
}

div#logo hr {
  max-width: calc(300rem / 15);
}

div#logo p#tagline {
  font-size: calc(32rem / 15);
  z-index: 2;
}

@media (max-width: 767.98px) {
  div#logo p#tagline {
    font-size: calc(22rem / 15);
  }
}

span#moveit {
  z-index: -1;
  position: relative;
  top: -10rem;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: block;
  transform: rotate(45deg);
  border-radius: 20px;
  border: 20px solid white;
  background-color: white;
}

span#moveit a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/Scroll-Arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  transform: rotate(-45deg);
  margin: 10px;
}

div#forage {
  z-index: -2;
  width: 100%;
  position: absolute;
  top: 35rem;
  left: 0;
  background-color: #F4F0EA;
  padding-top: 5rem;

  div.container {
    margin: 0 auto;
  }
}

div#kerodi {
  text-align: right;

  img {
    width: 240px;
    margin: 2rem 0;
  }
}

div#selector {
  padding: 0 2rem;

  h2 {
    font-family: "Roboto Slab";
    font-size: calc(42rem / 15);
    color: #FAA70B;
  }

  h3 {
    font-size: calc(24rem / 15);
    border-top: 1px solid #D3CBBD;
    font-weight: normal;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    margin-top: 3rem;
  }

  h3:first-of-type {
    border: 0;
    margin: 0;
  }

  a {
    color: black;
  }

  span.type {
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  a:hover span.type {
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
    padding: 0;
    font-size: calc(18rem / 15);
  }

  ul li {
    padding-bottom: .5rem;

  }

  label {
    display: block;
    width: 2rem;
    height: 2rem;
    float: right;
    position: relative;
    top: -3.5rem;
    background-image: url("/static/images/Accordion-Expand.svg");
    cursor: pointer;
  }

  input[type=checkbox]:checked + label {
    background-image: url("/static/images/Accordion-Collapse.svg");
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label + ul {
    height: 0;
    visibility: hidden;
    opacity: 0;

  }

  input[type=checkbox]:checked + label + ul {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s, visibility 0.4s;
  }
}
