// TODO no duplication
$kerodon-blue:   #0089BC;
$kerodon-beige:  #F4F0EA;
$kerodon-orange: #FAA70B;
$kerodon-gray:   #AAAAAA;
$size: 15;

ol#search-results {
  padding: 0;
}

div.preview {
  display: none;
}

span.previewable {
  display: block;
  float: left;
  cursor: pointer;
  width: 1.3rem;
  height: 1.2rem;
  background-image: url("/static/images/Search-Icon.svg");
  background-position: left .3rem;
  background-size: .8rem;
  background-repeat: no-repeat;
}

span.previewing {
  background-image: url("/static/images/Search-Icon.svg");
}

ul#pages {
  li#previous-search-page,
  li#next-search-page {
    text-indent: -10000em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
  }

  li#previous-search-page {
    background-image: url("/static/images/Search-Previous.svg");
  }

  li#next-search-page {
    background-image: url("/static/images/Search-Next.svg");
  }

  li#previous-search-page a,
  li#next-search-page a {
    display: block;
    width: 100%;
    height: 100%;
  }

  li.inactive {
    visibility: hidden;
  }
}

ol#search-results div.html li:before {
  left: 3.5em;
}

ol#search-results div.html li li:before {
  left: 6.5em;
}

ol#search-results article p:last-child {
  margin-bottom: 0;
}

nav#results-per-page {
  margin-top: -.5rem;
  margin-bottom: 1rem;

  p:first-of-type {
    font-size: calc(12rem / #{$size});
    margin-left: .8rem;
  }

  p {
    margin: 0 auto;
  }

  span.page-item a {
    border: 0;
    font-weight: bold;
    color: $kerodon-gray;
  }

  span.page-item a span {
    border-bottom: 2px solid;
  }

  span.page-item.active a {
    background-color: white;
    color: $kerodon-blue;
  }

  span.page-item:not(.active) a:hover {
    color: $kerodon-orange;
    background-color: white;
  }
}

form#search {
  @import "searchinput";

  input[type=search] {
    height: 3rem;
    width: 90%;
    margin-bottom: 1rem;
  }

  input[type=submit] {
    height: 3rem;
    width: 3rem;
  }

  label {
    width: 15rem;
  }
}
