@import "variables";

ul.neighbours {
  list-style-type: none;
  padding-left: 0 !important;
}

ul.neighbours {
  padding: 0;
  margin: 0;

  a {
    color: black;
    font-size: .8rem;
    font-variant: small-caps;
    display: block;
    background-repeat: no-repeat;
    background-size: .8rem;
  }

  li.left {
    float: left;

    a {
      background-image: url("/static/images/Sidebar-Previous.svg");
      background-position: left center;
      padding-left: 1rem;
    }
  }

  li.right {
    float: right;

    a {
      background-image: url("/static/images/Sidebar-Next.svg");
      background-position: right center;
      padding-right: 1rem;
    }
  }
}

div.html {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

div.html div.equation {
  margin-top: -.3rem;
  /*overflow-x: scroll;*/
  /*overflow: -moz-scrollbars-none;*/
}

div.equation::-webkit-scrollbar {
  /*display: none;*/
}

p + div.equation {
  margin-top: -1.2rem;
  margin-bottom: -0.4rem;
}

div.html h1 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #f7970e;
}

div.html h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: $kerodon-green;
}

div.html h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

div.html > p {
  text-indent: 1rem;
}

div.html ul li p:only-child,
div.html ol li p:only-child {
  margin-bottom: .3rem;
}

div.html ol {
  counter-reset: ol;
}

div.html ol > li,
div.html ol ol > li {
  list-style-type: none;
}

div.html ol > li:before {
  counter-increment: ol;
  content: "(" counter(ol, decimal) ") ";
  position: absolute;
  left: 0em;
  display: inline-block;
  text-align: right;
  width: 1.5em;
  font-style: normal;
}

div.html ol ol {
  counter-reset: olol;
}

div.html ol ol > li:before {
  counter-increment: olol;
  content: "(" counter(olol, lower-alpha) ") ";
  position: absolute;
  left: 3em;
  display: inline-block;
  text-align: right;
  width: 2em;
  font-style: normal;
}

div.html ul.tree {
  text-align: left;
}

div.html article.env-theorem,
div.html article.env-proposition,
div.html article.env-lemma {
  font-style: italic;
}

div.html a.environment-identifier {
  font-style: normal;
  font-weight: 500;
  color: black;
  text-decoration: underline;
}

div.html a.environment-identifier:hover {
  text-decoration: underline;
}

div.html a.environment-identifier span.named {
  font-weight: normal;
}

div.html article.env-proof {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.html article.env-proof span.qed {
  float: right;
  margin-top: 0;
}

div.html div.equation span.equation-label {
  float: left;
  padding-top: 1rem;
}

div.html div.equation span.equation-label::before {
  content: "(";
}

div.html div.equation span.equation-label::after {
  content: ")";
}

div.html article a.btn {
  margin-left: .3em;
  font-style: normal;
}

div.preview {
  margin-left: 1.5em;
}

span.toggle {
  display: block;
}

span.toggle input {
  margin-right: .5em;
}

span.toggle label {
  margin-bottom: .2em;
}

li.custom-item {
  list-style-type: none;
}

li.custom-item::before {
  content: attr(data-marker) !important;
  display: inline-block;
  width: 2rem;
  margin-left: -2rem;
  vertical-align: top;
}

li.custom-item > p {
  display: inline-block;
}

ul#citations {
  font-size: .9rem;
}

a.btn:hover {
  color: white;
}

ul + span.qed,
ol + span.qed {
  margin-top: -2.5rem !important;
}

ul#quicknav {
  list-style-type: none;
  padding: 0;
}

ul#quicknav a {
  color: black;
  font-weight: bold;
}

section#sidebar,
div#burger-content {
  a.btn {
    display: block;
    border-radius: 0;
    border: 0;
    background-color: $kerodon-green;
    font-weight: 500;
    background-image: none;
    padding: .7rem 0;
  }

  .btn:hover {
    text-decoration: underline;
  }
}

div#sidebar-interaction {
  ul.neighbours li {
    margin-bottom: 1rem;
  }
}

div#sidebar-related {
}

ul.tag-info {
  list-style-type: none;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 0;

  li a {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1.7rem;
    margin-bottom: .3rem;
    display: block;
    color: black;
    background-size: 1rem;
  }

  li.structure-link a {
    background-image: url("/static/images/structure.svg");
  }

  li.tag-statistics a {
    background-image: url("/static/images/statistics.svg");
  }

  li.tag-dependencies a {
    background-image: url("/static/images/dependency.svg");
  }
}

div#burger-content {
  a.btn {
    margin: 1rem auto 0 auto;
    width: 10rem;
  }

  ul.tag-info {
    margin-left: 1rem;
  }
}
