{% extends "page.html" %}

{% block title %}About{% endblock %}

{% block body %}
<h1>About</h1>
<h2>Mathematics</h2>

<h2>Animal kingdom</h2>
<p>According to <a href="https://en.wikipedia.org/wiki/Kerodon">Wikipedia</a>:
<blockquote>
  The genus <strong><em>Kerodon</em></strong> contains two species of South American rock cavies related to capybaras and guinea pigs. They are found in semi-arid regions of Northeast Brazil known as the Caatinga. This area has a rocky terrain with large granite boulders that contain rifts and hollows where Kerodon primarily lives.
</blockquote>
{% endblock %}
