{% extends "page.html" %}

{% block title %}Recent changes{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/toggle.js"></script>

  <style type="text/css">
dl#changes dt {
  text-align: right;
}
dl#changes dt + dd {
  border-left: 1px solid rgba(0,0,0,.1); /* TODO use the appropriate color maybe? */
}

  </style>
{% endblock %}

{% block hamburger %}
  <span id="hamburger-toggle"></span>
{% endblock %}

{% block body %}
  <h1>Changes</h1>
  <p>Below you find an overview of the major updates to Kerodon.

  {% for year in changes | dictsort(reverse=True) %}
    <h2>{{ year[0] }}</h2>
    <dl id="changes" class="row">
      {% for change in year[1] %}
        <dt class="col-sm-3">{{ change[0].strftime("%B %d") }}</dt>
        <dd class="col-sm-9">{{ change[1] | safe }}</dd>
      {% endfor %}
    </dl>
  {% endfor %}
{% endblock %}

{% block sidebar %}
  <div id="sidebar-interaction">
    <span id="sidebar-toggle"></span>
  </div>
{% endblock %}

