{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

<script type="text/javascript">
$(document).on('click', 'a[href^="#"]', function (event) {
  event.preventDefault();

  $('html, body').animate({ scrollTop: $($.attr(this, 'href')).offset().top }, 500);
});
</script>
{% endblock %}

{% block content %}
<section id="main">

<div id="logo">
  <h1>Kerodon</h1>
  <hr>
  <p id="tagline">an online resource for homotopy-coherent mathematics</p>
</div>

<div id="forage">
  <span id="moveit"><a href="#selector"></a></span>

  <div class="container">
    <div class="row">
      <div id="kerodi" class="d-none d-lg-block col-lg-4">
        {% for picture in kerodi %}
          <img src="/static/images/{{ picture }}">
        {% endfor %}
      </div>

      <div id="selector" class="col-12 col-lg-8">

        <h2>Forage</h2>

        {% for part in tags %}
          <h3><a href="/tag/{{ part.tag }}"><span class="type">Part {{ part.ref }}</span>: {{ part.name }}</a></h3>
          <input type="checkbox" id="part-{{ part.ref }}" checked>
          <label for="part-{{ part.ref }}"></label>

          <ul>
          {% for chapter in part.children %}
            <li><a href="/tag/{{ chapter.tag }}"><span class="type">Chapter {{ chapter.ref }}</span>: {{ chapter.name }}</a>
          {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

    </section>
{% endblock %}
