{% extends "page.html" %}

{% block title %}Comments on tag {{ tag.tag }}{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/toggle.js"></script>
  <script type="text/javascript" src="/static/js/comments.js"></script>

  <link rel="stylesheet" type="text/css" href="https://unpkg.com/easymde@2.0.1/dist/easymde.min.css" integrity="sha384-IRbzB9px0sfIx90vkN+geaX3F4LVcg/M+k5vmVkfjs5TnRX3MIhGS8Ma06ALKVYp" crossorigin="anonymous">
  <script src="https://unpkg.com/easymde@2.0.1/dist/easymde.min.js" integrity="sha384-v06sb0t0ToY1YRtVlfD/GCGpIZ/QHYyeH2Gzjvr0ZJI62/50DIzT8XRgQ6JvptVu" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/jquery-bonsai@2.1.2/jquery.bonsai.css" integrity="sha384-U1uEPfU2/stCtBJ6oZS4XLX35g0MD+BZTTskUun0Vhv64RLEaTUXtcpxGScTbkUP" crossorigin="anonymous">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-bonsai@2.1.2/jquery.bonsai.min.js" integrity="sha384-ZKch/OmPYYZT/9GpxSgMqUIDdBjwYYuJ3+CfQytRQElwdBsCMJkEmcsynJlFlsCS" crossorigin="anonymous"></script>
{% endblock %}

{% block breadcrumb %}
  {{ macros.breadcrumb(breadcrumb) }}
{% endblock %}

{% block hamburger %}
  {{ macros.tagHamburger(tag, neighbours, "", dependencies) }}
{% endblock %}

{% block body %}

{% if commentsEnabled %}
<section id="comments">
  <h2>Comments on {{ tag.type | capitalize }} <span data-tag="{{ tag.tag }}">{{ tag.ref }}</span></h2>

  {% if comments | length == 0 %}
    <p>There are currently no comments on {{ tag.type | capitalize }} <span data-tag="{{ tag.tag }}">{{ tag.ref }}</span>.
  {% endif %}

  {% for comment in comments %}
    {% include "comment.show.html" %}
  {% endfor %}

  {% if parentComments %}
    <p>There are also:
    <ul>
      {% for parent in parentComments %}
        <li>{{ parent[1] }} comment(s) on {{ parent[0].type | capitalize }} <a href="/tag/{{ parent[0].tag }}#comments" data-tag="{{ parent[0].tag }}">{{ parent[0].ref }}</a>{% if parent[0].name %}: {{ parent[0].name | safe }}{% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</section>

<hr>

{% include "comment.input.html" %}

{% endif %}

{% endblock %}

{% block sidebar %}
  <div id="sidebar-interaction">
    {{ macros.neighbours(neighbours, "", tag) }}
    <span id="sidebar-toggle"></span>
  </div>

  <hr>

  <div id="sidebar-related">
    <a class="btn btn-success" href="/kerodon.pdf#nameddest={{ tag.tag }}">view as pdf</a>

    <ul class="tag-info">
      {{ macros.tagInformation(tag, dependencies) }}
    </ul>
  </div>
{% endblock %}
