{% extends "page.html" %}

{% block title %}How to cite tag {{ tag.tag }}{% endblock %}

{% block breadcrumb %}
  {{ macros.breadcrumb(breadcrumb) }}
{% endblock %}

{% block neighbours %}
  <ul class="neighbours">
  {% if neighbours[0] %}
    <li class="left"><a href="/tag/{{ neighbours[0].tag }}">previous {{ neighbours[0].type }}</a>
  {% endif %}
  {% if neighbours[1] %}
    <li class="right"><a href="/tag/{{ neighbours[1].tag }}">next {{ neighbours[1].type }}</a>
  {% endif %}
  </ul>
  <br style="clear:both">
{% endblock %}

{% block body %}
  <h2>How to cite <a href="/tag/{{ tag.tag }}">tag <span class="tag">{{ tag.tag }}</a>?</h2>


  <p>You can use one of the following code snippets in your LaTeX code.
  <ul id="citations">
    <li><code>\cite[\href{https://kerodon.net/tag/{{ tag.tag }}}{Tag {{ tag.tag }}}]{kerodon}</code>
    <li><code>\cite[\href{https://kerodon.net/tag/{{ tag.tag }}}{% raw %}{{% endraw %}{{ tag.type | capitalize }} {{ tag.tag }}{% raw %}}{% endraw %}]{kerodon}</code>
    <li><code>\href{https://kerodon.net/tag/{{ tag.tag }}}{Tag {{ tag.tag }}}</code>
    <li><code>\href{https://kerodon.net/tag/{{ tag.tag }}}{% raw %}{{% endraw %}{{ tag.type | capitalize }} {{ tag.tag }}}</code>
  </ul>

  <p>You can use the following in your BibTeX file.
  <pre><code>@misc{kerodon,
  author       = {Jacob Lurie},
  title        = {Kerodon},
  howpublished = {\url{https://kerodon.net}},
  year         = {% raw %}{{% endraw %}{{ time.year }}},
}</code></pre>
  <p>You can also consider using the <code>@online</code> type in BibLaTeX, changing the the <code>howpublished</code> to <code>url</code>. Another neat trick in BibLaTeX is the <code>shorthand</code> field, which you could set to <code>K</code> or <code>Kerodon</code>.
{% endblock %}

